<form action="{{action}}" method="POST">
  <div class="field-items">
    {{{fields}}}
  </div>
  <input type="hidden" name="formId" value="{{formID}}">
  <input type="hidden" name="messageID" value="{{messageID}}">
  <input type="hidden" name="recipientID" value="{{recipientID}}">
  <input type="hidden" name="recipientEmail" value="{{recipientEmail}}">
  <input type="submit" value="submit">
</form>
